@import url(./common.css);


.header-w > .menu > nav > a:nth-of-type(4)::after {width: 100%;}

body {background-color: #000000;}
main {margin: 80px 0 500px 0;}

.header-w {
    padding: 20px 0;

    position: relative;
}
.header-w > .icon {
    width: 100%; margin: 0 auto;
}

.header-w > .icon > a {
    position: absolute;
    left: 2%; top: 20%;
}
.header-w > .icon > h1 {
    text-align: center;
}
.header-w > .icon > h1 > a {
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
}
.header-w > .icon > span {
    position: absolute;
    right: 2%; top: 24%;
}
.header-w > .icon > span > a {
    font-size: 0;
    width: 33px; height: 33px;
    margin: 0 12px;

    display: inline-block;
    vertical-align: middle;
}
.header-w > .icon > span > a:nth-child(1) {
    background: url(../resources/00.header/search-w.png) no-repeat;
}
.header-w > .icon > span > a:nth-child(2) {
    background: url(../resources/00.header/login-w.png) no-repeat;
}
.header-w > .icon > span > a:nth-child(3) {
    background: url(../resources/00.header/wishlist-w.png) no-repeat;
}
.header-w > .icon > span > a:nth-child(4) {
    background: url(../resources/00.header/cart-w.png) no-repeat;
}


.header-w > .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-w > .menu > nav {
    display: flex;

    margin-top: 8px;
}
.header-w > .menu > nav > a {
    padding: 0 1vw;
    font-size: 20px;
    color: #FFFFFF;
}
.header-w > .menu > nav > a::after {
    content: '';
    display: block;

    border-bottom: 2px solid #FFFFFF;
    width: 0%;
    transition: 0.5s ease-in-out;
    /* margin: 0 auto; */
}
.header-w > .menu > nav > a:hover::after {width: 100%;}

main {margin: 80px 0 500px 0;}
main > .collection {width: 90%; margin: 0 auto;}
main > .collection > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main > .collection > ul > li {
    width: 1380px; height: 870px;
    margin-bottom: 120px;
}
main > .collection > ul > li > p {}
main > .collection > ul > li > p > img {width: 100%;}

main > .collection > ul > li > div {
    text-align: center;
    margin: 60px;
}
main > .collection > ul > li > div > .title {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 300;
}
main > .collection > ul > li > div > .context {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;

    margin: 12px auto;
}
main > .collection > ul > li > div > .btn-detail {}
main > .collection > ul > li > div > .btn-detail > a {
    background-color: #FFFFFF;

    padding: 8px 24px;
    border-radius: 40px;

    display: inline-block;
}

footer > .details > span {color: #FFFFFF;}
footer > .details > .info > p {color: #FFFFFF;}
footer > .details > .ins > p {color: #FFFFFF;}






.collect-more {
    width: 75%; 
    margin: 0 auto; 
    margin-bottom: 150px;

    position: fixed;
    left: 12.5%; bottom: 0;
    z-index: 999999999;
}
.collect-more > ul {
    display: flex;
    justify-content: space-between;
}
.collect-more > ul > li {
    width: 450px; height: 524px;
    position: relative;
}
.collect-more > ul > li > .pro-img {
    width: 100%;
    position: relative;
}
.collect-more > ul > li > .pro-img > a > img {width: 100%;}
.collect-more > ul > li > .pro-img > span {
    width: 100%; 
    padding: 30px 160px;

    display: block;
    position: absolute; left: 0; bottom: 0;

    font-size: 20px; color: #FFFFFF;
    background-color: rgba(121, 121, 121, 0.5); 
    opacity: 0%;
}
.collect-more > ul > li > .pro-img:hover > span {
    transition: 0.5s;
    opacity: 100%;
}

.collect-more > ul > li > .pro-txt {margin-top: 20px;}
.collect-more > ul > li > .pro-txt > p {
    margin: 1px 0;
    color: #FFFFFF;
}
.collect-more > ul > li > .pro-txt > p:nth-of-type(1) {color: #dbdbdb;}
.collect-more > ul > li > .pro-txt > p > span {
    font-size: 18px;
    font-weight: 600;
    margin-right: 2px;
    color: #FFFFFF;
}



/* <!-- mobileeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee --> */

@media (max-width: 767px) {
    
main {margin: 10% 0 40% 0;}

.mobile h1 {display: none;}

main > .collection > ul > li {
    width: 100%; height: 60%;
    margin-bottom: 20%;
}
main > .collection > ul > li > p {
    width: 100%; 

    overflow: hidden;
}
main > .collection > ul > li > p > img {
    width: 310%; height: 100%;
}
main > .collection > ul > li:nth-of-type(1) > p > img {
    transform: translateX(-34%);
}
main > .collection > ul > li:nth-of-type(2) > p > img {
    transform: translateX(-10%);
}
main > .collection > ul > li:nth-of-type(3) > p > img {
    transform: translateX(-60%);
}

main > .collection > ul > li > div {
    text-align: center;
    margin: 10%;
}
main > .collection > ul > li > div > .title {
    color: #FFFFFF;
    font-size: 20px;
}
main > .collection > ul > li > div > .context {
    color: #FFFFFF;
    font-size: 12px;

    margin: 12px auto;
}
main > .collection > ul > li > div > .btn-detail > a {
    background-color: #FFFFFF;

    padding: 6px 17px;
    border-radius: 40px;

    font-size: 12px;

    display: inline-block;
}


.mobile footer {
    background-color: #000000;
}
.mobile footer .m-sns {
    display: none;
}
.mobile footer .m-info span {
    color: #dbdbdb;
    font-weight: 500;
}
.mobile > footer > .m-info > div > p {
    color: #dbdbdb;
}

}