@import url(./common.css);

.header-b > .menu > nav > a:nth-of-type(1)::after {width: 100%;}

main {margin: 80px 0 500px 0;}

.popup.active {display: flex;}

.popup {
    width: 50vw; height: 40vw;

    padding: 2%;

    background-color: #FFFFFF;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);

    position: relative;

    display: flex;

    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    display: none;
}

.popup > .img {
    width: 50%; 
    height: 50%;
    
    display: flex;
    flex-wrap: wrap;

}

.popup > .img > p > img {
    width: 100%;
}
.popup > .img > div {
    width: 100%;
    height: 30%;
    margin-top: 3%;

    overflow: hidden;
    overflow-x: auto;
    display: flex;
}
.popup > .img > div > img {
    width: 100%;
    margin-right: 3%;
}

.popup > .detail {
    width: 50%;
    margin-left: 3%;
}
.popup > .detail > .txt {
    margin-top: 5%;

    width: 100%;
}

.popup > .detail > .txt > p:nth-of-type(1) {
    color: #505050; font-size: 1vw;
}
.popup > .detail > .txt > p:nth-of-type(2) {
    font-size: 1.7vw;
    margin: 2px 0 16px 0;
}
.popup > .detail > .txt > p:nth-of-type(3) {
    font-size: 1.6vw;
}
.popup > .detail > .txt > p > span {
    font-size: 1.7vw;
    font-weight: 600;
}
.popup > .detail > .option {
    width: 100%;
    margin: 30% 0;
}
.popup > .detail > .option > .size {width: 96%;}
.popup > .detail > .option > .size > p {font-size: 0.8vw;}
.popup > .detail > .option > .size > ul {
    display: flex;
    flex-wrap: wrap;

}
.popup > .detail > .option > .size > ul > li {margin: 2% 2% 0 0;}
.popup > .detail > .option > .size > ul > li > input {display: none;}
.popup > .detail > .option > .size > ul > li > input:checked + label {border: 1px solid #000000;}
.popup > .detail > .option > .size > ul > li > label {
    display: block;
    width: 3.8vw;
    padding: 10% 0;
    text-align: center;
    
    border: 1px solid #797979;
    border-radius: 4px;
    font-size: 0.8vw; 
}


.popup > .detail > .option > .color > p {font-size: 0.8vw; margin: 2% 0;}

.popup > .detail > .option > .color > div > input {display: none;}
.popup > .detail > .option > .color > div > input:checked + label {border: 1px solid #000000;}
.popup > .detail > .option > .color > div > label {
    display: block;
    width: 3.8vw;
    padding: 1% 0;
    text-align: center;
    
    border: 1px solid #797979;
    border-radius: 4px;
    font-size: 0.8vw; 
}

.popup > .detail > .option > .quantity > p {font-size: 0.8vw; margin: 2% 0;}

.quick-close {
    width: 44px; height: 44px;
    font-size: 0;

    position: absolute;
    top: 0%; right: 0%;

    background: url(../resources/00.logo/close.png) no-repeat center;
}

.popup > .detail > .btn > span {
    position: absolute; bottom: 5%;
    text-align: center;
    font-size: 0.8vw;
    padding: 2% 4%;
    width: 10vw;
    border-radius: 6px;
    border: 3px solid #000000;
}
.popup > .detail > .btn > span:nth-of-type(1) {
    right: 28%;
}
.popup > .detail > .btn > span:nth-of-type(2) {
    right: 6%;
    background-color: #000000;
    color: #FFFFFF;
}



/* <!-- mobileeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee --> */

@media (max-width: 767px) {
    main {margin: 10% 0 40% 0;}
    .mobile footer .m-sns {display: none;}
}    



/* ipaddddddddddddddddddddddddddddddddddddddddddddddddddd */

@media (min-width: 768px) and (max-width: 1280px) {
    .popup {
        width: 80vw; height: 70vw;
    }
    .popup > .detail > .btn > span {
        width: 16vw; font-size: 1.5vw;
    }

    
    .popup > .detail > .txt > p:nth-of-type(1) {
        font-size: 1.7vw;
    }
    .popup > .detail > .txt > p:nth-of-type(2) {
        font-size: 2.7vw;
    }
    .popup > .detail > .txt > p:nth-of-type(3) {
        font-size: 2.6vw;
    }
    .popup > .detail > .txt > p > span {
        font-size: 2.7vw;
    }

    .popup > .detail > .option > .size > p {font-size: 1.7vw;}
    .popup > .detail > .option > .size > ul > li > label {
        width: 7vw;
        font-size: 1.5vw;}
    .popup > .detail > .option > .color > p {font-size: 1.7vw;}
    .popup > .detail > .option > .color > div > label {
        width: 7vw;
        font-size: 1.5vw;}
    .popup > .detail > .option > .quantity > p {font-size: 1.7vw;}
}