@import url(./common.css);

body {background-color: #EEEEEE;}
main {margin: 80px 0 500px 0;}


.wishlist {
    width: 80%;
    margin: 0 auto;
}
.wishlist > p {
    margin-bottom: 60px;

    font-size: 24px;
    font-weight: 600;

    text-align: center;
}

.wishlist > ul {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}
.wishlist > ul > li {
    width: 480px;

    position: relative;
}

.wishlist > ul > li > .pro-img > .btn-wish {
    background: url(../resources/00.header/wishlist-f.png) no-repeat center;
}
.wishlist > ul > li > .pro-img > .product-img > img {
    width: 100%;
}
.wishlist > ul > li > .pro-img {
    width: 100%;
    position: relative;
}


.wishlist > ul > li > .pro-txt {
    margin-top: 16px;
}
.wishlist > ul > li > .pro-txt > p {
    margin: 1px 0;
}
.wishlist > ul > li > .pro-txt > p:nth-of-type(1) {
    color: #505050;
}
.wishlist > ul > li > .pro-txt > p > span {
    font-size: 18px;
    font-weight: 600;
    margin-right: 2px;
}

.wishlist > ul > li > .btn {

    margin: 20% 0;
    display: flex;
    justify-content: center;
}
.wishlist > ul > li > .btn > span {
    text-align: center;

    padding: 15px 40px;
    margin: 0 12px;

    font-size: 16px;
    border-radius: 10px;
    border: 3px solid #000000;
}

.wishlist > ul > li > .btn > span:nth-of-type(2) {
    background-color: #000000;
    color: #FFFFFF;
}


/* <!-- mobileeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee --> */
@media (min-width: 768px) and (max-width: 1920px) {

}

@media (max-width: 767px) {
    
main {margin: 10% 0;}

.mobile h1 {display: none;}

.wishlist {width: 90%;}

.wishlist > ul > li {
    margin: 0 auto 30%;
}
.wishlist > ul > li > .btn {
    margin: 10% 0;

    display: flex;
    justify-content: center;
}
.wishlist > ul > li > .btn > span {
    text-align: center;

    padding: 4% 8%;
    margin: 0 12px;

    font-size: 14px;
}


}